Jogo de adicinhação                                                                                                     
 _______                                 __     __  __                  __           
|       \                               |  \   |  \|  \                |  \          
| $$$$$$$\  ______   ______ ____        | $$   | $$ \$$ _______    ____| $$  ______  
| $$__/ $$ /      \ |      \    \       | $$   | $$|  \|       \  /      $$ /      \ 
| $$    $$|  $$$$$$\| $$$$$$\$$$$\       \$$\ /  $$| $$| $$$$$$$\|  $$$$$$$|  $$$$$$\
| $$$$$$$\| $$    $$| $$ | $$ | $$        \$$\  $$ | $$| $$  | $$| $$  | $$| $$  | $$
| $$__/ $$| $$$$$$$$| $$ | $$ | $$         \$$ $$  | $$| $$  | $$| $$__| $$| $$__/ $$
| $$    $$ \$$     \| $$ | $$ | $$          \$$$   | $$| $$  | $$ \$$    $$ \$$    $$
 \$$$$$$$   \$$$$$$$ \$$  \$$  \$$           \$     \$$ \$$   \$$  \$$$$$$$  \$$$$$$ 
                                                                               __                  ________                                      
                                                                              |  \                |        \                                     
  ______    ______               __   ______    ______    ______          ____| $$  ______        | $$$$$$$$______    ______    _______  ______  
 |      \  /      \             |  \ /      \  /      \  /      \        /      $$ |      \       | $$__   /      \  /      \  /       \|      \ 
  \$$$$$$\|  $$$$$$\             \$$|  $$$$$$\|  $$$$$$\|  $$$$$$\      |  $$$$$$$  \$$$$$$\      | $$  \ |  $$$$$$\|  $$$$$$\|  $$$$$$$ \$$$$$$\
 /      $$| $$  | $$            |  \| $$  | $$| $$  | $$| $$  | $$      | $$  | $$ /      $$      | $$$$$ | $$  | $$| $$   \$$| $$      /      $$
|  $$$$$$$| $$__/ $$            | $$| $$__/ $$| $$__| $$| $$__/ $$      | $$__| $$|  $$$$$$$      | $$    | $$__/ $$| $$      | $$_____|  $$$$$$$
 \$$    $$ \$$    $$            | $$ \$$    $$ \$$    $$ \$$    $$       \$$    $$ \$$    $$      | $$     \$$    $$| $$       \$$     \\$$    $$
  \$$$$$$$  \$$$$$$        __   | $$  \$$$$$$  _\$$$$$$$  \$$$$$$         \$$$$$$$  \$$$$$$$       \$$      \$$$$$$  \$$        \$$$$$$$ \$$$$$$$
                          |  \__/ $$          |  \__| $$                                                                                         
                           \$$    $$           \$$    $$                                                                                         
                            \$$$$$$             \$$$$$$   
                                                                                                                   
Projeto iniciando no dia 22/11/2023.

Primeira ideia e programar um jogo de forca na linguem C com base no livro "Introdução à programção em C".

Ao final do livro será implementado alguns complementos que eu acho que já melhorar o jogo ou o funcionamento do código.